mixin for(cl,src,h3,...items)
	.for-item(class=cl)
		img.for-item-img(src=src alt=h3)
		h3.for-item-title=h3
		ul.general-list.general-list-for-item
			each item in items
				li=item

section#for
	.container
		+for('for-item-1','img/images/img-1.png','Эффективно консультировать людей с минимальными знаниями:','как применить метод МАК в качестве основного вида проработки запросов;','как через метафорические карты дополнить ваш метод до высочайшего уровня профессионализма;','как создать свою уникальную методологию, которая позволит вам наработать новых клиентов и резко вырасти в доходе')
		+for('for-item-2','img/images/img-2.png','Достигать результатов в консультировании, которых вы бы не смогли добиться привычными методами:','как легко работать с клиентом даже в самых сложных ситуациях;','как быстро справиться со страхом и саботажем клиента перед любыми действиям;','как мгновенно, в 3 простых шага, получать ответы на вопросы ваших клиентов')
		+for('for-item-3','img/images/img-3.png','Находить простые и действенные решения для запросов, которые обычно для психологов являются сложными и объемными:','как завершить ряд неудач в отношениях и обрести любовь;','как в 5 шагов увеличить доход;','как найти свое предназначение и получить доступ к родовым ресурсам')
		+for('for-item-4','img/images/img-4.png','Прорабатывать сферы жизни, которые касаются не только психологии:','почему весь организм «расклеился» и столько проблем со здоровьем;','как вернуть удачу;','в каких сферах будет проще заработать, а где — денег нет')
		+b1('','Зарегистрироваться на мастер-класс')